/* result buttons*/
.resultButtons {
    list-style-type: none;
}
/*rainbow banner*/
hr { 
    background: linear-gradient(45deg, rgba(69,202,211,1) 0%,rgba(69,202,211,1) 20%,rgba(109,179,242,1) 20%,rgba(255,113,91,1) 20%,rgba(255,113,91,1) 40%,rgba(249,203,64,1) 40%,rgba(249,203,64,1) 62%,rgba(188,237,9,1) 62%,rgba(188,237,9,1) 80%,rgba(23,147,123,1) 80%,rgba(23,147,123,1) 80%,rgba(23,147,123,1) 100%);
     height: 10px;
     border: none;
}
/* body of the page*/
body{
    margin: 30px 30px 30px 30px;
    color: rgb(52, 48, 48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* welcome to nashville*/
h1 {
    text-align: center;
}
h1, h3 {
    font-weight: lighter;
    text-align: center;
}
h2  {
    font-weight: lighter;
    text-align: left;
}
/*footer*/
footer {
    text-align: center;
    padding: 1px;
    background: linear-gradient(45deg, rgba(69,202,211,1) 0%,rgba(69,202,211,1) 20%,rgba(109,179,242,1) 20%,rgba(255,113,91,1) 20%,rgba(255,113,91,1) 40%,rgba(249,203,64,1) 40%,rgba(249,203,64,1) 62%,rgba(188,237,9,1) 62%,rgba(188,237,9,1) 80%,rgba(23,147,123,1) 80%,rgba(23,147,123,1) 80%,rgba(23,147,123,1) 100%);
    height: 15px;
    border: none;
    font-weight: lighter;
}
/* styling for the input forms */
form {
    font-size: 20px;
    background-color: #aad7cf;
}

fieldset {
    display: flex;
    flex-direction: row;
    border: none;   
}

a {
    text-decoration: none;
    color: #2c8187;
    border: dotted;
    padding: .3em;
}

#helpfulLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}

input {
    margin: .5em;
    width: 97%;
    height: 2em;
    font-size: .8em;
    border: none;
    padding: 2px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none; 
}

button {
    margin: .5em;
    padding: .25em;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #2c8187;
    color: white;
}

.bannerImage {
    display: flex;
}

img {
    width: 100%;
}

.planHeader {
    padding: .5em;
    margin-left: .4em;
}

.itinerary-header {
    margin-left: 1em;
}

#parentsHeader {
    text-align: center;
}


